---
const today = new Date();
---

<footer>
	Created by Joshua Emil Peña Rosario 😎.
	<div class="social-links">
		<a href="https://m.webtoo.ls/@astro" target="_blank">
			<span class="sr-only">Follow me on Instagram</span>
			<svg viewBox="0 0 24 24" aria-hidden="true" width="32" height="32">
				<path
				  fill="currentColor"
				  d="M12 2.163c3.204 0 3.584.012 4.85.07 1.366.062 2.633.332 3.608 1.306.975.975 1.244 2.242 1.306 3.608.058 1.266.07 1.646.07 4.85s-.012 3.584-.07 4.85c-.062 1.366-.332 2.633-1.306 3.608-.975.975-2.242 1.244-3.608 1.306-1.266.058-1.646.07-4.85.07s-3.584-.012-4.85-.07c-1.366-.062-2.633-.332-3.608-1.306-.975-.975-1.244-2.242-1.306-3.608-.058-1.266-.07-1.646-.07-4.85s.012-3.584.07-4.85c.062-1.366.332-2.633 1.306-3.608.975-.975 2.242-1.244 3.608-1.306 1.266-.058 1.646-.07 4.85-.07M12 0C8.741 0 8.332.015 7.052.072 5.772.128 4.577.356 3.525.898 2.474 1.44 1.56 2.355 1.018 3.406.475 4.458.247 5.653.191 6.933.134 8.213.12 8.622.12 12c0 3.378.015 3.787.072 5.067.056 1.28.284 2.475.827 3.526.543 1.051 1.458 1.966 2.509 2.508 1.051.543 2.246.771 3.526.827 1.28.057 1.689.072 5.067.072 3.378 0 3.787-.015 5.067-.072 1.28-.056 2.475-.284 3.526-.827 1.051-.543 1.966-1.458 2.508-2.509.543-1.051.771-2.246.827-3.526.057-1.28.072-1.689.072-5.067 0-3.378-.015-3.787-.072-5.067-.056-1.28-.284-2.475-.827-3.526-.543-1.051-1.458-1.966-2.509-2.508-1.051-.543-2.246-.771-3.526-.827C15.787.015 15.378 0 12 0zm0 5.838a6.162 6.162 0 1 0 0 12.324 6.162 6.162 0 0 0 0-12.324zm0 10.17a4.008 4.008 0 1 1 0-8.016 4.008 4.008 0 0 1 0 8.016zm6.406-11.845a1.44 1.44 0 1 0 0-2.88 1.44 1.44 0 0 0 0 2.88z"
				/>
			  </svg>
		</a>
		<a href="https://github.com/withastro/astro" target="_blank">
			<span class="sr-only">Go to my GitHub</span>
			<svg viewBox="0 0 16 16" aria-hidden="true" width="32" height="32" astro-icon="social/github"
				><path
					fill="currentColor"
					d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"
				></path></svg
			>
		</a>
	</div>
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: rgb(var(--gray));
	}
	.social-links a:hover {
		color: rgb(var(--gray-dark));
	}
</style>
